.a{margin:2%}
.b{text-align:center;
    margin: 2em}
.c{margin:5.3em auto auto 10%;
    float: left;}
.d{margin:5em 10% auto auto;
    float: right;}
.e{ margin:4em 10%;
    color:white;
    font-size: 27px;}
.f{text-align: center;
    margin-top: 1em;
   color: white;  }